body
{
    background-color: blue;
}

h1
{
    font-family: 'WindSong', cursive;
    font-weight: bolder;
}

p
{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    font-weight: bolder;
}